*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

/api/*
/testapi/*
som.txt
application/attachments
application/storage
application/storage/*
store_recurring_token.txt
.htaccess
adyenresponse.txt
qrcodes/shortstaygroupusersemailcsv/*
qrcodes/testup/*
google_calendar/credentials
google_calendar/credentials/*
qrcodes/uploads
qrcodes/images
qrcodes/companylogos
qrcodes/withpassqrcodes
qrcodes/webfontkit/specimen_files/*
qrcodes/webfontkit/New folder/*
qrcodes/assets/slider/*
qrcodes/assets/slider_old/*
application/config/config.php
application/config/database.php
application/config/constants.php
application/config/default_settings.php
application/config/*
uploadImage/upload/*
!uploadImage/upload/index.html
/nbproject/private/
google_cloud/credentials/*