*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
application/attachments
application/storage
application/storage/*
.htaccess
application/config/config.php
application/config/database.php
application/config/constants.php
application/config/default_settings.php
system/application/attachments
system/application/storage
application/config/secret.php
application/cache